<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DragonOS Bugs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>DragonOS Bug Report</h1>
        
        <% if (fileGroups.length === 0) { %>
            <p>No files found in dragon_bugs directory.</p>
            <p>Please ensure the directory exists and contains .log and .mir files.</p>
        <% } else { %>
            <h2>All Reports</h2>
            <ul class="index-list">
                <% fileGroups.forEach(group => { %>
                    <li>
                        <a href="/page/<%= group.number %>" class="index-link">
                            <%= group.number %>
                            &nbsp;&nbsp;&nbsp;
                            <span class="func-name-white">
                                <%= FUNC_NAME_LINES[group.number - 1] || '' %>
                            </span>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</body>
</html>
